<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
  <title>index</title>
</head>
<body>
  <nav class="navbar navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
       </button>
        <a class="navbar-brand" href="/">Blog</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('add_post') }}">new post</a></li>
          <li><a href="{{ url_for('logout') }}">Sign out</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  <div class="container">
    <footer>
      <!--<p>footer</p>-->
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/blog.js') }}"></script>
</body>
</html>