{% extends "layout.html" %}
{% from "form_macros.html" import render_field %}}
{% block body %}
<form action="" method='PUT'>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ render_field(form.author, class="form-control", readonly="readonly", value=current_user.adminname) }}
  </div>
  <div class="form-group">
    {{ render_field(form.title, class="form-control", id="modify-title") }}
  </div>
  <div class="form-group">
  	{{ form.content.label }}
  	{{ form.content(class="form-control", rows="15", id="modify-content")}}
  </div>
  <div class="form-group">
  	{{ render_field(form.tag, class="form-control", id="modify-tag") }}
  </div>
  <button type="button" class="btn btn-success" id="modify-btn">publish</button>
</form>
{% endblock %}