{% extends "layout.html" %}
{% block body %}
{% if post %}
<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9">
    <div class="page-header">
      <h1>{{ post.title }}</h1>
      <span>{{ post.date }}</span>
      {% if current_user.is_authenticated %}
      <div class="btn-group" role="group" aria-label="...">
        <a href="/{{post.title}}/modify" type="button" class="btn btn-warning btn-xs">modify</a>
        <button type="button" class="btn btn-danger btn-xs" id="delete-btn">delete</button>
        <input type="hidden" id="post_title" value="{{ post.title }}" />
      </div>
      {% endif %}
    </div>
    {{ post.content | markdown }}
    {% endif %}
    <nav>
      <ul class="pager">
        {% if previous %}
        <li class="previous"><a href="/{{previous}}"><span aria-hidden="true"&larr></span> Older</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true"&larr></span> Older</a></li>
        {% endif %}
        {% if newer %}
        <li class="next"><a href="/{{newer}}"><span aria-hidden="true"&rarr></span> Newer</a></li>
        {% else %}
        <li class="next disabled"><a href="#"><span aria-hidden="true"&rarr></span> Newer</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <table class="table table-condensed" id="table-category">
      <tr><td>item2</td></tr>
      <tr><td>item3</td></tr>
      <tr><td>item4</td></tr>
      <tr><td>item1</td></tr>
      <tr><td>item5</td></tr>
      <tr><td>item6</td></tr>
    </table>
  </div>
</div>
{% endblock %}