{% extends "layout.html" %}
{% from "form_macros.html" import render_field %}}
{% block body %}
  <div class="col-xs-8 col-sm-5 col-md-5">
    <form action="" method='POST'>
      {{ form.hidden_tag() }}
      <div class="form-group">
        {# <label for="admin ID"></label> #}
        {{ render_field(form.adminname, class="form-control") }}
      </div>
      <div class="form-group">
        {# <label for="password"></label> #}
        {{ render_field(form.password, class="form-control") }}
      </div>
      <div class="form-group">
        {# <label for="password"></label> #}
        {{ render_field(form.password2, class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
{% endblock %}